
<app-home></app-home>
<h1>AddCourse</h1>
<div class="container">
<form class="form-horizontal" [formGroup]="courseForm">
    <div class="form-group">
        <label class="control-label col-sm-2" for="courseName">Course Name</label>
        <div class="col-sm-10">
          <input  class="form-control" formControlName="courseName" id="courseName" placeholder="Course Name">
        </div>
      </div>
      <pre></pre>
      <div class="form-group">
        <label class="control-label col-sm-2" for="agenda">Agenda</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="agenda" id="agenda" placeholder="Agenda">
        </div>
      </div>
      <pre></pre>
      <div class="form-group">
        <label class="control-label col-sm-2" for="image">Image URL</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="imageUrl" id="image" placeholder="Image URL">
        </div>
      </div>
      <pre></pre>
    <div class="form-group">
      <label class="control-label col-sm-2" for="tutor">Tutor Name</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="tutor"id="tutor" placeholder="Tutor Name">
      </div>
    </div>
    <pre></pre>

    <div class="form-group">
      <label class="control-label col-sm-2" for="description">Description</label>
      <div class="col-sm-10">
        <input class="form-control" formControlName="description"id="description" placeholder="Description">
      </div>
    </div>
    <pre></pre>

    <div class="form-group">
        <label class="control-label col-sm-2 col-sm-3" for="price">Price</label>
        <div class="col-sm-10">
          <input class="form-control" formControlName="price"id="price" placeholder="Price">
        </div>
      </div>
      <pre></pre>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" (click)="addCourse()" >Add</button><br>
        <pre></pre>
      </div>
    </div>
  </form>
</div>