<!DOCTYPE html>
<html>
<body class="body">
<div class="row">
  <div class="col"><img src='../../assets/logo.png'></div>
  <div class="col-md-11"><h1>Learn to Know More</h1></div>
</div>
<pre></pre>
<nav class="nav">
  <button type="button" class="btn btn-light" routerLink="/admin/user-list">User Listing</button>
  <button type="button" class="btn btn-light" routerLink="/admin/add-course">Add Course</button>
  <button type="button" class="btn btn-light" routerLink="/admin/course-list">Course Listing</button>
  <button type="button" class="btn btn-light" routerLink="">Logout</button>

</nav>
</body>
</html>
