<app-home></app-home>
<h1>Login page</h1>
<div class="container" >
  <div class="card">
<form class="form-horizontal" [formGroup]="loginForm" >
    <div class="form-group">
      <label class="control-label col-sm-2" for="email">Email:</label>
      <div class="col-sm-10">
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
        <span> {{'This email field is required.'}} </span>
      </mat-error>
    </div>
    <pre></pre>

    <div class="form-group">
      <label class="control-label col-sm-2" for="pwd">Password:</label>
      <div class="col-sm-10">
        <input type="password" formControlName="password" class="form-control" id="pwd" placeholder="Enter password">
      </div>
      <mat-error *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <span> {{'This password field is required.'}} </span>
      </mat-error>
    </div>
    <pre></pre><pre></pre>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button type="submit" class="btn btn-primary" [disabled]="loginForm.invalid" (click)="compareUserLogin()">Login</button><br><br>
        <button type="submit" class="btn btn-secondary" routerLink="/sign-up">Signup</button><br>
      </div>
      <pre></pre>
    </div>
  </form>
</div>
</div>
