<app-home></app-home>
<h3>Admin Dashboard</h3>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">User Name</th>
        <th scope="col">Email id</th>
        <th scope="col">password</th>
        <th scope="col">Confirm password</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of userlist">
        <th scope="row">{{data.id}}</th>
        <td>{{data.userName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.password}}</td>
        <td>{{data.cPassword}}</td>
        <td><button class="btn btn-primary">Accept</button><pre></pre><button class="btn btn-outline-danger">Decline</button></td>
      </tr>
  </table>