<app-admin></app-admin>

<div class="container">
  <div *ngFor="let course of courseList">
    <ul class="list-group-item mt-2">

      <li>
        <div class="row ">
          <div class="col">
            <img [src]="course.imageUrl" width="150" height="150">
          </div>
          <div class="col-md-8">
            <h3>{{ course.courseName}}</h3>
            <h5>{{ course.agenda}}</h5>
            <h5>{{ course.tutor}}</h5>
            <h5>Discription</h5>
            <p>{{course.description}}</p>
            <p>Nu.{{ course.price}}</p>

          </div>
          <div class="col mt-4" style="width: 10000;">
            <button type="button" class="btn btn-outline-success mt-2">Edit</button><br>
            <button type="button" class="btn btn-outline-danger mt-3" (click)="removeCourse(course.id)">Remove</button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
