<!DOCTYPE html>
<html>
<body class="body">
    <div class="row">
        <div class="col"><img src = '../../assets/logo.png'></div>
        <div class="col-md-11"><h1>Learn to Know More</h1></div>
    </div>
    <pre></pre>
    <nav class="nav">
        <button type="button" class="btn btn-light" (click)=navHome()>Home</button>
        <button type="button" class="btn btn-light" (click)="navCourse()">Course</button>
        <button type="button" class="btn btn-light" (click)="navLogin()">Login</button>
        <button type="button"  class="btn btn-light" (click)="navAddCourse()">Add Course</button>
        <button type="button"  class="btn btn-light" (click)="navAdmin()">Admin Dashboard</button>
    </nav>
    <!-- <div class="jumbotron text-center col-sm-1-2-3-4">
        <h1>The Best you to get wisdom</h1>
        <p>Resize this responsive page to see the effect!</p> 
      </div>
     -->
      <!-- <div class="container">
        <div class="row">
          <div class="col-sm-4">
            <h3>The Best you to get wisdom</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 2</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
          <div class="col-sm-4">
            <h3>Column 3</h3>        
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
            <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
          </div>
        </div>
      </div> -->
</body>
</html>